pandas 
jsonlines
matplotlib
dask
scikit-learn
transformers
datasets
torch
accelerate
peft
git+https://github.com/lvwerra/trl
bitsandbytes
evaluate
xformers
wandb
nvidia-htop 
lm-eval
natsort
openai
bert_score
huggingface_hub